#fondo
	position relative
	height 100vh
	max-width 580px
	width 100%
	margin auto
	
.form
	position relative
.formHeader
	background white
	border-radius 5px
	input 
		border 1px solid white
		&:focus
			border hidden
			box-shadow none
	.btnHeader
		min-width 45px
		border none
		background white!important
		display flex
		justify-content center
		transition all 0.5s linear
		padding 0!important
		border 1px solid white!important
		&:hover,
		&:active
			background white
			border 1px solid white!important
			font-size 22px
			transition all 0.2s linear
			


#result
	position absolute
	width 100%
	max-width 100%
	cursor pointer
	overflow-y auto
	max-height 400px
	box-sizing border-box
	z-inex: 1000
	.link-class
		&:hover
			background-colore red
	

.fondoSearch
	background-color white
	

#mapa
	position absolute
	width 100%
	height 100%
	top 0
	left 0

.info
	position absolute
	z-index 900
	background-color rgba(black,0.7)
	color white
	border-radius 0px
	width 100%
	padding 15px
	bottom 0
	display none
	
.divInfo
	.clima
		float right
		display flex
		justify-content center
		flex-direction column
		align-items center
		margin-right 15px
		.img
			background rgba(white, 0.7)
			border-radius 50%
			width 50px
			height 50px
			img	
				width 50px
		.description
			corlor white
	.iNombre
		font-size 35px
		
#accordion
	max-height 45vh
	overflow auto