#fondo {
  position: relative;
  height: 100vh;
  max-width: 580px;
  width: 100%;
  margin: auto;
}
.form {
  position: relative;
}
.formHeader {
  background: #fff;
  border-radius: 5px;
}
.formHeader input {
  border: 1px solid #fff;
}
.formHeader input:focus {
  border: hidden;
  box-shadow: none;
}
.formHeader .btnHeader {
  min-width: 45px;
  border: none;
  background: #fff !important;
  display: flex;
  justify-content: center;
  transition: all 0.5s linear;
  padding: 0 !important;
  border: 1px solid #fff !important;
}
.formHeader .btnHeader:hover,
.formHeader .btnHeader:active {
  background: #fff;
  border: 1px solid #fff !important;
  font-size: 22px;
  transition: all 0.2s linear;
}
#result {
  position: absolute;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  overflow-y: auto;
  max-height: 400px;
  box-sizing: border-box;
  z-inex: 1000;
}
#result .link-class:hover {
  background-colore: #f00;
}
.fondoSearch {
  background-color: #fff;
}
#mapa {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.info {
  position: absolute;
  z-index: 900;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  border-radius: 0px;
  width: 100%;
  padding: 15px;
  bottom: 0;
  display: none;
}
.divInfo .clima {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
.divInfo .clima .img {
  background: rgba(255,255,255,0.7);
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.divInfo .clima .img img {
  width: 50px;
}
.divInfo .clima .description {
  corlor: #fff;
}
.divInfo .iNombre {
  font-size: 35px;
}
#accordion {
  max-height: 45vh;
  overflow: auto;
}
